<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MapBox加载TMS地图服务</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet'/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        /*隐藏logo*/
        .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
            display: none !important;
        }

        .mapboxgl-ctrl-logo {
            display: none !important;
        }
    </style>
</head>
<body>
<div id='map'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaGFtYnVnZXJkZXZlbG9wIiwiYSI6ImNqNXJtZjF4ZzB3em4yd21pZmVqbHlleDAifQ.I9eqVjtotz7jaU7XcJm9pQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: [108.438, 34.431],
        zoom: 10
    });
    map.on("load", function () {
        map.addLayer({
            "id": "tms-test",
            "type": "line",
            'source': {
                "type": "vector",
                "scheme": "tms",
                "tiles": [
                    "http://10.79.231.81:90/bigGeoPlatform/viz/vectorTileMVT/{z}/{x}_{y}.mvt"
                ],
                "minzoom": 10,
                "maxzoom": 10
            },
            "source-layer": "vectorTile",
        });
    })
</script>
</body>
</html>
